%div{class:"page-1",style:'background-image:url(/assets/home/page-1-background.png);width:980px;margin:0 auto;height:600px;position:relative;'}
    %div{style:'padding-top:130px;position:relative'}
        %span{style: 'color:white;font-size:60px;'}
            %div{style:'font-family:"Lucida Grande";font-size:48px'}
                Flaternity & Sorority
            %div{style:'font-family:"Lucida Grande";font-size:36px'}
                Wall Graphics
            <b>GIVEAWAY</b><br>
        = form_for @user, :url => { :action => "create" } do |f|
            %p
                = f.text_field :email, :placeholder => "enter email", :class => "email border"
            %p
                %div.select_wrap
                    = f.collection_select :organization_id, Organization.order(:name),:id,:name, include_blank: "choose your organization"
            %p
                <input class="submit" name="commit" type="submit" value="Step Inside" />
        %div{style:'color:white;margin-top:80px;font-weight:bold;font-size:14px;'}
            OUR GIVEAWAY IS CURRENTLY ONLY FOR ORGANIZATION WE ARE LICENSED FOR BUT STILL WOULD LOVE TO HEAR FROM YOU  
